
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/button.min.css">
      <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
      <link rel="stylesheet" href="LogIn.css">
      <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

   <script src="js/app.js"></script>
<style>
input.ng-invalid.ng-dirty{border:1px solid red;}
</style>

    <div class="card-panel" style="margin-left: 22%;" ng-app="myApp" >
      <div class="row">
      <div id="sample">
        <p style="font-size:150%;"><b>LOGIN</b></p>
   <form class="col s12" method="post" ng-controller="LoginController" name="myForm" novalidate>
     <div class="row">
       <div class="input-field col s6">
         <input id="email" type="email" class="validate" ng-model="email" name="email" required>
         <label for="email">Email</label>
         <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$error.required">Required</span>
 <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$error.email">Email is required.</span>


       </div>
     </div>

  <div class="row">
       <div class="input-field col s6">
         <input id="password" type="password" class="validate" ng-model="password" name="password" required ng-minlength="5" ng-maxlength="12" />
         <label for="password">password</label>
          <span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$error.required">Required</span>
           <span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$error.minlength">too short</span>
            <span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$error.maxlength">too long</span>
       </div>
     </div>


<div class="row4">

  <label>Select Option</label>
  <select class="browser-default"  ng-model="value" name="value">
    <option value="" disabled selected>Choose your option</option>
    <option value="1">Employees</option>
    <option value="2">Recuiter</option>
    <span style="color:red" ng-show="myForm.value.$dirty && myForm.value.$error.required">plz select the option</span>
  </select>
</div>





      <div class="row3"
      <div class="input-field col s14">
<input class="btn waves-effect waves-light black"  type="submit" ng-click="submit()" value="submit"  ng-disabled=" myForm.$invalid ">
     <i class="material-icons right"></i>
   </button>
      </div>
          <p class="forgot"><a href="#!forgot">forgot password?</a></p>
    </div>
  </div>
